scripts/test-output
scripts/test-error
scripts/output
output
input/
output/
scripts/command-output
command-output
scripts/command-error
command-error
archive/
error/
jobqueue/
jobqueue-for-jobs-that-echo-commands/
run-standard-out-as-jobs-jobqueue/